body{
	font-family: 'Roboto', sans-serif;
}
p{
	margin: 0;
	padding: 0;
}

.container{
	width: 750px;
	margin: auto;
	margin-top: 80px;
}

.intro_text{
	font-size: 18px;
	line-height: 37px;
	color: #333;
	margin-bottom: 60px;

}

h1{
	font-size: 35px;
	margin-bottom: 10px;
}

h3{
	font-size: 24px;
	font-weight: 700;
	color: #333333;
	text-align: center;
}

@media only screen and (max-width: 425px){
	h1{
		margin-bottom: 20px;
	}
	.intro_text{
		font-size: 18px !important;
	    line-height: 30px !important;
	    margin-bottom: 60px;
	}
}

@media only screen and (max-width: 768px){
	.container{
		width: 85%;
		margin: auto;
		margin-top: 40px;
	}
	h1{
		margin-bottom: 10px;
	}
	.intro_text{
	font-size: 24px;
    line-height: 45px;
	}
}
